<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <input name="userId" id="userId" value="1"/>
        <input name="message" id="message"/>
        <button onclick="send()">发送</button>
        <script type="application/javascript">
            var websocket = null;
            var value = document.getElementById('userId').value;
  if ('WebSocket' in window) {
    websocket = new WebSocket('ws://localhost:8081/im/websocket/' + value);

  } else {
    alert('该浏览器不支持websocket');
  }

  websocket.onopen = function (event) {
    console.log('websocket建立连接');
  }

  websocket.onclose = function (event) {
    console.log('websocket关闭连接');
  }

  websocket.onmessage = function (event) {
    console.log('websocket收到消息' + event);
    alert(event);
  }

  websocket.onerror = function (event) {
    console.log('websocket通信发生错误');

  }
  window.onbeforeunload = function (event) {
    websocket.close();
  }

  function setMessageInHtml(message){
  document.getElementById('message').innerHTML += message+"</br>";
 }
 function close(){
  websocket.close(3000,"强制关闭");
 }
 function send(){
  var msg = document.getElementById('message').value;
  var object = {"senderId": "1","receiverId":"2","content":msg,"isGroup": true};
  var str = JSON.stringify(object);
  websocket.send(str);
 }
        </script>
    </body>
</html>